*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#fff4f8;
}

.navbar{
background:#ff69b4;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:100;
}

.logo{
color:white;
font-size:22px;
font-weight:bold;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar li{
margin-left:20px;
}

.navbar a{
color:white;
text-decoration:none;
}

.slider{
height:500px;
overflow:hidden;
position:relative;
}

.slide{
display:none;
height:100%;
}

.slide.active{
display:block;
}

.slide img{
width:100%;
height:500px;
object-fit:cover;
}

.hero{
text-align:center;
padding:50px;
}

.hero h1{
color:#ff1493;
font-size:45px;
}

.btn{
display:inline-block;
background:#ff69b4;
color:white;
padding:12px 25px;
border-radius:8px;
margin-top:20px;
text-decoration:none;
}

#produk{
padding:40px;
}

#search{
width:100%;
padding:12px;
margin-bottom:30px;
border:2px solid #ff69b4;
border-radius:10px;
}

.produk-container{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.card{
width:300px;
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.card h3,
.card p{
padding:10px;
}

.card button{
margin:10px;
width:90%;
padding:10px;
border:none;
background:#ff69b4;
color:white;
cursor:pointer;
}

#harga,
#keranjang{
padding:40px;
}

table{
width:100%;
background:white;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#ff69b4;
color:white;
padding:12px;
}

td{
padding:10px;
border:1px solid #ddd;
}

.checkout{
background:green;
color:white;
border:none;
padding:15px;
margin-top:20px;
cursor:pointer;
}

.hapus{
background:red;
color:white;
padding:5px 10px;
border:none;
}

footer{
background:#ff69b4;
color:white;
text-align:center;
padding:30px;
margin-top:40px;
}